{% extends 'admin/base_site.html' %}
{% load static %}

{% block branding %}
  <h1 id='head'>
      <img src="{% static 'img/logo.png' %}" alt="BT Real Estate" class="brand_img" height="50" width="80">Admin Area
  </h1>
{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static 'css/admin.css' %}">
{% endblock %}
